* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

/*header*/
header {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    background-color: darkgrey;

}

header img {
    

}

nav ul{
    display :inline-flex;
    flex-direction: row;
    
}

nav li {
    margin: 0.5rem;
}

/* main */

main {
    width: 90%;
    margin: 20px auto;
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

p {
    overflow:hidden;
}


section {
    
}

div {
    
}

article {
    
    
}

img {
    
}

/* footer */

footer {
    background-color: darkgrey;
    height: 100px
}
